/build/
/data/nuscenes
/data/nusc_tensor
/data/prediction
*.pyc
__pycache__
*.plan
*.log
/model
/example-data
/src/test
/qat/onnx_int8
bevfusion
data*
*nohup*
pretrained*
qat/libpybev.so
tool/libpybev.so
*dependencies*
/../dependencies/dlpack
/../dependencies/pybind11
/../dependencies/stb
/src/onnx/*
src/bevfusion/lidar-scn-onnx-parser.cpp
src/onnx/onnx-ml.pb.cpp
src/onnx/onnx-ml.pb.h
src/onnx/onnx-operators-ml.pb.cpp
src/onnx/onnx-operators-ml.pb.h
